.leg-distances {
  margin-top: 20px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.start-location,
.end-location {
  font-weight: bold;
  color: #007bff;
}

.separator {
  margin: 0 5px;
  color: #000000;
}

.distance {
  color: #28a745;
}
.truck-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.truck-info {
  text-align: center;
  color: #000000;
}

.center-table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%; /* Adjust the width as needed */
}

.center-table th,
.center-table td {
  padding: 10px;
  border: 1px solid #ddd; /* Add borders for a cleaner look */
}

.center-table th {
  background-color: #f2f2f2; /* Optional: Add a background color to header cells */
}

.capacity {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.container{
  margin-top: 40px;
}
