.sub-container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 40px; 
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* .sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  } */
  